* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;
  color: white;
  background-color: cornflowerblue;
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.login {
  margin-left: 20px;
}

.header-container {
  color: cornflowerblue;
  background-color: lightsteelblue;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
